
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


<div class="site-section-cover overlay" style="background-image: url('/Template/images/hero_bg.jpg'); ">

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10 text-center">
                <h1>The <strong>Hub</strong> Of <strong>Tutorials</strong></h1>
            </div>
        </div>
    </div>
</div>




<div class="site-section bg-light">

    <div class="container">
        @* wirte code from here.... *@


    </div>
</div>